<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS - ProData</title>

    <!--inicio css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">

    <!--inicio js -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/oclazyload/dist/ocLazyLoad.js"></script>

    <script src="app/config/pd-app.js"></script>
    <script src="app/config/pd-rotas.config.js"></script>
    <script src="app/controller/index-router.controller.js"></script>
    <script src="app/filter/maiusculo.filter.js"></script>

    <script src="app/service/alert.service.js"></script>

    <script src="app/controller/cadastro.carro.controller.js"></script>

</head>

<body ng-app="pdApp" class="container">

<div ng-controller="CadastroCarroController">
    <form name="carroForm" novalidate>
        <div class="panel panel-success">
            <div class="panel-heading"><i class="fa fa-edit fa-2x"></i> Cadastro de Carro</div>
            <div class="panel-body">
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div>
                        <md-input-container>
                            <label>Carro</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="entidade.nomeCarro"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="20"
                                   name="nomeCarro"
                                   id="nomeCarro"
                                   autofocus="true"
                            />
                            <div ng-messages="carroForm.nomeCarro.$error" ng-if="carroForm.cor.$touched"
                                 class="text-danger">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Cor</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="entidade.cor"
                                   ng-required="true"
                                   ng-minlength="1"
                                   ng-maxlength="20"
                                   name="cor"
                                   id="cor"
                                   required
                            />
                            <div ng-messages="carroForm.cor.$error" ng-if="carroForm.cor.$touched"
                                 class="text-danger">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Data de Lançamento</label>
                            <input type="date"
                                   class="form-control"
                                   ng-model="entidade.dataLancamento"
                                   ng-required="true"
                                   ng-minlength="1"
                                   ng-maxlength="20"
                                   name="dataLancamento"
                                   id="dataLancamento"
                                   required
                                   ng-keypress="($event.which === 13)?salvar():0"
                            />
                            <div ng-messages="carroForm.dataLancamento.$error"
                                 ng-if="carroForm.dataLancamento.$touched" class="text-danger">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <br/>

                <div class="row">
                    <div class="col-md-12">
                        <div ui-grid="gridOptions"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" ng-click="salvar()"><i
                                class="fa fa-floppy-o"></i></i> Salvar
                        </button>
                        <button type="button" class="btn btn-warning" ng-click="limpar()"><i
                                class="fa fa-eraser"></i> Limpar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>