<div id="modalBairro" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Dados do Bairro</h4>
            </div>
            <div class="modal-body">
                <p>Código do Bairro: <span class="codigo-bairro text-info"></span></p>
                <p>Nome do Bairro: <span class="nome-bairro text-info"></span></p>
                <p>Nome da Cidade: <span class="nome-cidade text-info"></span></p>
                <p>Estado <span class="estado text-info"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>